
<li> <%= gist.escape("title") %>
<button class="favoriting" data-gistID="<%= gist.escape('id') %>">
<%= gist.escape("favorite") === "false" ? "Favorite" : "Unfavorite" %>
</button>

<% console.log(gist) %>
